/python3.11_venv/
/python3.10/

**/data/
**/local/

**/artifacts/
**/lightning_logs/
**/wandb/
**/.idea/
**/__pycache__/
**/catboost_info/

*.pickle
*.ckpt
*.DS_Store
*.ipynb_checkpoints
*.pt
*.csv
*.zip

