name: "My MF SLIM 25m"
artifacts:
  - full_artifact_name: dkoshman/Recommending/imdb_ratings:latest
    directory: data/imdb_ratings
    match_directory_exactly: True
  - full_artifact_name: dkoshman/Recommending/movielens25m:latest
    directory: data/ml-25m
model:
  class_name: MFSlimRecommender
  latent_dimension: 200
  l2_regularization: 0.0
  l1_regularization: 1.0e-6
datamodule:
  movielens:
    class_name: MovieLens25m
    directory: data/ml-25m
  train_explicit_file: ratings_train.csv
  val_explicit_file: ratings_val.csv
  test_explicit_file: ratings_test.csv
  num_workers: 4
  batch_size: 4000
  val_batch_size: 1000
  test_batch_size: 1000
lightning_module:
  class_name: MovieLensMFRecommender
trainer:
  accelerator: gpu
  devices: [1]
  log_every_n_steps: 1
  val_check_interval: 1000
  accumulate_grad_batches: 10
callbacks:
  EarlyStopping:
    monitor: val_offline_ndcg@10
    mode: max
    check_on_train_epoch_end: False
    patience: 3
    min_delta: 1.0e-3
  WandbCheckpointCallback:
    monitor: val_offline_ndcg@10
    mode: max
    save_on_train_epoch_end: False
    artifact_name: my_mf_slim_movielens_25m
